In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from PIL import Image
%matplotlib inline

In [2]:
train = pd.read_json('../input/train.json')
train['inc_angle'] = pd.to_numeric(train['inc_angle'],errors='coerce')

In [8]:
train.head()

,band_1,band_2,id,inc_angle,is_iceberg
0,"[-27.878360999999998, -27.15416, -28.668615, -...","[-27.154118, -29.537888, -31.0306, -32.190483,...",dfd5f913,43.9239,0
1,"[-12.242375, -14.920304999999999, -14.920363, ...","[-31.506321, -27.984554, -26.645678, -23.76760...",e25388fd,38.1562,0
2,"[-24.603676, -24.603714, -24.871029, -23.15277...","[-24.870956, -24.092632, -20.653963, -19.41104...",58b2aaa0,45.2859,1
3,"[-22.454607, -23.082819, -23.998013, -23.99805...","[-27.889421, -27.519794, -27.165262, -29.10350...",4cfc3a18,43.8306,0
4,"[-26.006956, -23.164886, -23.164886, -26.89116...","[-27.206915, -30.259186, -30.259186, -23.16495...",271f93f4,35.6256,0

In [46]:
for i in range(train.shape[0]):
    if train.iloc[i,4]==1:
        typ = 'iceb'
    else:
        typ = 'ship'
    a = train.iloc[i,0]
    a = np.reshape(np.array(a),(75,75))
    a = -1 * a
    b = np.max(a)
    a = a/b
    a = a*255
    left = a
    a = train.iloc[i,1]
    a = np.reshape(np.array(a),(75,75))
    a = -1 * a
    b = np.max(a)
    a = a/b
    a = a*255
    right = a
    a = np.concatenate((left,right),axis=1)
    im = Image.fromarray(a)
    im = im.convert('RGB')
    im.save("../input/jpgs/%s_%s.jpg"%(i,typ))